.place__paragraph {
    margin: 0 auto 26px;
    min-width: 484px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
}
  
.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place__paragraph {
        min-width: 456px;
    }
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        min-width: 352px;
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        min-width: 288px;
        padding: 0 16px;
        order: 1;
    }
}