.place__website {
  justify-self: start;
  align-self: end;
  grid-row: 1;
  grid-column: 2;
  padding: 0;
  min-width: 456px;
}

@media screen and (max-width: 1023px) {
  .place__website {
    min-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    min-width: 288px;
    order: -2;
    margin: 0 auto;
    align-self: start;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 0 16px;
  }
}